[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "npm install",
  "cd backend && npm install",
  "cd ../frontend && npm install",
  "cd ../shared && npm install || true"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "npm start"

